h1{
  font-family:  Impact, Charcoal, sans-serif ;
}
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
body
{
    margin: 0;
    background-color: #00FFFF;
}

  .header {
  padding: 2px;
  text-align: center;
  background: #A0D6FF;
  color: pastel yellow;
  font-size: 20px;
  font-colro: #000000
}

  .camera {
  position: absolute;
  top: 51px;
  left: 20px;
  display: block;
  width: 20px;
  height: 75px;
  background-color: #333;
  border-radius: 05px;
}
.camera:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #333;
  position: absolute;
  left: px;
  bottom: 23px; 
}
.outer-circle {
  width: 02px;
  height: 02px;
  box-sizing: borde box;
  border: 6px solid #FFFFFF;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 1000;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  border-radius: 50%;
  background-color: #FFFFFF;
  top: 03px;
  left: 03px;
}
.outer-circle:before {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  z-index: 1000;
  border-radius: 50%;;
  background-color: #333;
  top: -02px;
  left: -02px;
}
.tower1 {
  position: absolute;
  top: px;
  left: 32px;
  display: block;
  width: 50px;
  height: 35px;
  bottom: 20px;
  background-color: #333;
}
.effiel {
  position: absolute;
  top: px;
  left: 84px;
  display: block;
  width: 15px;
  height: 40px;
  bottom: 17px;
  background-color: #333;
}
.tower3 {
  position: absolute;
  top: px;
  left: 98px;
  display: block;
  width: 60px;
  height: 44px;
  bottom: 15.51px;
  background-color: #333;
}
.tower4 {
  position: absolute;
  top: px;
  left: 160px;
  display: block;
  width: 3px;
  height: 44.1px;
  bottom: 15.5px;
  background-color: #333;
}
.aah {
  content: "";
  display: block;
  width: 13px;
  height: 14px;
  background-color: #333;
  position: absolute;
  border-radius: 7px;
  left: 15px;
  bottom: 6px; 
}
.aah:before {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  z-index: 1000;
  border-radius: 50%;;
  background-color: #FFFFFF;
  top: 03px;
  left: 03px;
  bottom: 12px;
}
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #FCFF9D;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

   body {
  background: #FFF;
  margin: 0;
  padding: 0;
}

section {
  margin-top: 10px;
}

#insta_wrapper {
  align-items: center;
  border: 25px solid white;
  border-radius: 30% 30% 30% 30%;
  display: flex;
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.camera {
  border: 25px solid white;
  border-radius: 50%;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  position: relative;
  right: 15px;
  top: 3px;
}

.viewfinder {
  background: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  top: -67px;
  right: -162px;
}

/* Call Animations */

#insta_wrapper {
  animation: gradientPop 3.5s infinite alternate;
}

.viewfinder {
  animation: gradientPopBG 3.5s infinite alternate;
}

.camera {
  animation: gradientPop 3.5s infinite alternate;
}

@keyframes gradientPop {
  0% {
    border-color: #0a00b2;
  }
  25% {
    border-color: #6a006c;
  }
  50% {
    border-color: #d30020;
  }
  75% {
    border-color: #ff3100;
  }
  80% {
    border-color: #ff8e00;
  }
  100% {
    border-color: #fff000;
  }
}

@keyframes gradientPopBG {
  0% {
    background-color: #0a00b2;
  }
  25% {
    background-color: #6a006c;
  }
  50% {
    background-color: #d30020;
  }
  75% {
    background-color: #ff3100;
  }
  80% {
    background-color: #ff8e00;
  }
  100% {
    background-color: #fff000;
  }
  .element {
  height: 200px;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  25% {
    background-color: #FF5733;
  }
  35% {
    background-color: #AED841;
  }
  45% {
    background-color: #D841C8;
  }
  55% {
    background-color: #FF4136;
  }
}

html,
body {
  height: 100%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  height:15px;
  width:20px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  height:15px;
  width:20px;
}
/*  */
.fa-instagram {
  background: #A0522D;
  color: white;
  height:15px;
  width:20px;
}


@-webkit-keyframes transform {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  
  to {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
  }
}

@keyframes transform {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  
  to {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
  }
}

@-webkit-keyframes shadow {
  from {
    box-shadow: 0 0 0 rgba(0,0,0,.25);
  }
  to {
    box-shadow: 0 0 0 10px rgba(0,0,0,0);
  }
}

@keyframes shadow {
  from {
    box-shadow: 0 0 0 rgba(0,0,0,.25);
  }
  to {
    box-shadow: 0 0 0 10px rgba(0,0,0,0);
  }
}
