h1{
  font-family:  Impact, Charcoal, sans-serif ;
}
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
body
{
    margin: 0;
    background-color: #00FFFF;
}

  .header {
  padding: 2px;
  text-align: center;
  background: #000000;
  color: yellow;
  font-size: 30px;
  font-colro: #000000
}
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #F4C2C2;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

   body {
  background: #FFF;
  margin: 0;
  padding: 0;
}

section {
  margin-top: 10px;
}

#insta_wrapper {
  align-items: center;
  border: 25px solid white;
  border-radius: 30% 30% 30% 30%;
  display: flex;
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.camera {
  border: 25px solid white;
  border-radius: 50%;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  position: relative;
  right: 15px;
  top: 3px;
}

.viewfinder {
  background: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  top: -67px;
  right: -162px;
}


/* Call Animations */

#insta_wrapper {
  animation: gradientPop 3.5s infinite alternate;
}

.viewfinder {
  animation: gradientPopBG 3.5s infinite alternate;
}

.camera {
  animation: gradientPop 3.5s infinite alternate;
}

@keyframes gradientPop {
  0% {
    border-color: #0a00b2;
  }
  25% {
    border-color: #6a006c;
  }
  50% {
    border-color: #d30020;
  }
  75% {
    border-color: #ff3100;
  }
  80% {
    border-color: #ff8e00;
  }
  100% {
    border-color: #fff000;
  }
}

@keyframes gradientPopBG {
  0% {
    background-color: #0a00b2;
  }
  25% {
    background-color: #6a006c;
  }
  50% {
    background-color: #d30020;
  }
  75% {
    background-color: #ff3100;
  }
  80% {
    background-color: #ff8e00;
  }
  100% {
    background-color: #fff000;
  }
